<a href="https://colab.research.google.com/github/ejb251/Repository-1/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pi = 3.14
radius = int(input("radius:"))
height = int(input("height:"))

area = (2 * pi * radius ** 2) + (2 * pi * radius * height)
print("area:",area, "sq.ft")

radius:2
height:4
area: 75.36 sq.ft

In [ ]:
pi = 3.14
radius = float(input('Please provide radius:'))
height = float(input('Please provide height of cylinder:'))

area = (2 * pi * radius ** 2) + (2 * pi * radius * height)
print(f'Area of cylinder = {area} sq. ft')

Please provide radius:5
Please provide height of cylinder:10
Area of cylinder = 471.0 sq. ft

In [ ]:
x = 2
y = 3

if x < 3:
  print("x less than y")

x less than y

In [ ]:
from posixpath import expandvars
if condition:
  expr
  expr

In [ ]:
fico = int(input("Please provide your FICO score: "))

if fico >= 700:
  print('Loan granted!')
else
  print('Loan denied!')

In [ ]:
fico = int(input("Please provide your FICO score: "))

if fico >= 700:
  print('Loan granted!')
elif fico < 700:
  print('Loan denied!')

In Class 2

In [4]:
n1 = float(input('please put 1st number:'))
n2 = float(input('please put 2nd number:'))
s = input('Please provide Sign (+, -, *, /, //, **, %):')

if s == '-':
                 print(f'{n1}) - {n2} = {n1 - n2}')
elif s == '*':
               print(f'{n1}) * {n2} = {n1 * n2}')

elif s == '+':
               print(f'{n1}) + {n2} = {n1 + n2}')

elif s == '/':
               print(f'{n1}) / {n2} = {n1 / n2}')
elif s == '//':
               print(f'{n1}) // {n2} = {n1 // n2}')
elif s == '**':
               print(f'{n1}) ** {n2} = {n1 ** n2}')
elif s == '%':
               print(f'{n1}) % {n2} = {n1 % n2}')
else:
  print('Invalid Operator')

please put 1st number:9
please put 2nd number:3
Please provide Sign (+, -, *, /, //, **, %):+
9.0) + 3.0 = 12.0

Class 2/5

In [13]:
for numberHours in range(1, 9):
  fee = 5 + 2.5 * numberHours
  if fee <= 10:
    fee = 10
  elif fee > 20:
      fee = 20
  print(numberHours, fee)

1 10
2 10
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [40]:
print('AD$\t', 'Profit')
for adcost in range(0, 201, 25):
  additional = 2 * round(adcost ** 0.5)
  profit = (20 + additional) * 10 - 200 - adcost
  print(adcost, '\t', profit)

AD$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80